.show-items{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right:50px;
    margin:30px;
    background-color:blueviolet
}
.banner-img img{
    width:100%;
    height: 70vh;
    margin-bottom: 40px;
    position: relative;
    opacity: 0.7;
}

.badge-img {
    position: absolute;
    width: 150px;
    display: block;
    margin: 0 auto;
    top: 30%;
    left: 45%;
}
.item-img {
    width:40%;
    padding:30px;
}

.show-text h3,h6{
    margin: 10px;
    color: white;
}
.social{
    text-align: center;
    margin-bottom: 40px;
}
.social a {
    color: #007bff;
    margin: 23px;
    text-decoration: none;
    background-color: transparent;
}
.desc-text{
    margin: 30px;
}

.social .social-youtube{
    color: red;
}
.social .social-chrome {
   color: green;
}

@media (max-width: 518px){
    .banner-img img {
        width: 161%;
        height: 70vh;
        margin-bottom: 40px;
        position: relative;
        opacity: 0.7;
        overflow: hidden;
    }

    
    
}